@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-primary {
    @apply text-[1rem] tracking-wider hover:bg-gray-200 p-4 border border-black rounded-md font-bold 
  }

}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}